@import "/containers/css/component-style.css";
.button-containers{
    margin-top: 2rem;
}
.btn{
    text-decoration: none;
    color: var(--btn-primary);
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
.btn-primary{
    border: 0.1rem solid var(--btn-primary) ;
    color: var(--btn-primary);
    background-color: var(--btn-secondary);
}
.btn-secondary{
    color: var(--btn-secondary);
    background-color: var(--btn-primary);
}
.btn-link{
    text-decoration: underline;
    color: var(--btn-secondary);
}
.btn-floating{
    color: var(--btn-secondary);
    background-color: var(--btn-floater);
    box-shadow: 0 0 2rem  var(--btn-shader);
}
.icon-btn{
    color:var(--btn-secondary);
    font-size: 2rem;
}